.header img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    opacity: 0.3;
}
.header {
    position: relative;
}
.title {
    position: absolute;
    top: 24px;
    left: 32px;
}
.subtitle {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    text-align: center;
}